.container{
    width:100%;
    margin: 0 auto;
    background-color: wheat;
}
.button-container{
    width:100%;
    background-color: yellow;
}
#gif-display{
    display: block;
    width: 90%;
    background-color: blue;
}
#giphy{
    float:left;
}
.gifs{
    width: 100px;
    height: 100px;
}
#buttons-view{
    float: left;
    padding:30px;
}
#form{
    float: right;
    padding:30px;
    margin:10px;
}
#add-topic{
    width:80px;
    height:40px;
}
.topic{
    width:70px;
    height:40px;
    margin:10px;
}